@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local('Istok Web Regular'), local('IstokWeb-Regular'), url(http://fonts.gstatic.com/s/istokweb/v10/EvPKapBawcLZ3hbihjhqAVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 700;
  src: local('Istok Web Bold'), local('IstokWeb-Bold'), url(http://fonts.gstatic.com/s/istokweb/v10/2koEo4AKFSvK4B52O_Mwaugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, article, aside, footer, header {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

html {
    background: #66CDAA;
    height: 100%;
}

body {
    margin: 0 auto;
    width: 720px;
    color: #fff;
    font-family: "Istok Web", sans-serif;
    text-align: center;
}

::-moz-selection {
    background: #e34c26;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #e34c26;
    color: #fff;
    text-shadow: none;
}

a {
    color: #fff;
    text-decoration: none;
    -moz-transition:        all 0.1s;
    -o-transition:          all 0.1s;
    -webkit-transition:     all 0.1s;
    transition:             all 0.1s;
}

a:hover {
    color: #ffa589;
}

footer a {
    color: #f16529;
}

input {
    border: 0;
    font-size: 24px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    -webkit-border-radius:  6px;
    -moz-border-radius:     6px;
    border-radius:          6px;
    -moz-box-shadow:        inset 1px 2px 2px rgba(0, 0, 0, .3);
    -webkit-box-shadow:     inset 1px 2px 2px rgba(0, 0, 0, .3);
    box-shadow:             inset 1px 2px 2px rgba(0, 0, 0, .3);
    -moz-transition:        all 0.125s ease-out;
    -o-transition:          all 0.125s ease-out;
    -webkit-transition:     all 0.125s ease-out;
    transition:             all 0.125s ease-out;
}

input:focus {
    outline: none;
    -moz-box-shadow:        inset 1px 2px 2px rgba(0, 0, 0, .6);
    -webkit-box-shadow:     inset 1px 2px 2px rgba(0, 0, 0, .6);
    box-shadow:             inset 1px 2px 2px rgba(0, 0, 0, .6);
}

header {
    margin: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 20px 0;
    height: 128px;
    position: relative;
}

h1 {
    font-size: 72px;
    line-height: 138px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(3, 88, 154, 0.2);
    -moz-user-select:       none;
    -o-user-select:         none;
    -webkit-user-select:    none;
    user-select:            none;
}

h2 {
    font-size: 18px;
    text-shadow: 2px 2px 0 rgba(3, 88, 154, 0.2);
}

header p {
    position: absolute;
    top: 95px;
    left: 135px;
    color: #82daff;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(3, 88, 154, 0.2);
}

.asterisk {
    font-size: 80%;
    text-decoration: none;
    vertical-align: top;
}

footer {
    background: #03589a;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 13px;
}

footer div {
    margin: 0 auto;
    width: 720px;
}

footer p {
    float: left;
}

small {
    float: right;
    font-size: 13px;
}

.love {
    color: #f12929;
}

#intro {
    padding: 0 60px;
    text-align: left;
}

#intro p {
    color: #82daff;
}

#intro p + h2 {
    margin-top: 20px;
}

button {
    background: #e44d26;
    background:    -moz-linear-gradient(top, #f16529 50%, #e44d26 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f16529), color-stop(50%, #e44d26));
    background: -webkit-linear-gradient(top, #f16529 50%, #e44d26 50%);
    background:      -o-linear-gradient(top, #f16529 50%, #e44d26 50%);
    background:     -ms-linear-gradient(top, #f16529 50%, #e44d26 50%);
    background:         linear-gradient(top, #f16529 50%, #e44d26 50%);
    display: block;
    margin: 40px auto;
    border: 6px solid #e44d26;
    padding: 8px;
    width: 260px;
    color: #fff;
    font-family: "Istok Web", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-border-radius:  2px;
    -moz-border-radius:     2px;
    border-radius:          2px;
    -moz-box-shadow:        1px 2px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow:     1px 2px 1px rgba(0, 0, 0, .2);
    box-shadow:             1px 2px 1px rgba(0, 0, 0, .2);
    -moz-transition:        all 0.1s ease-out;
    -o-transition:          all 0.1s ease-out;
    -webkit-transition:     all 0.1s ease-out;
    transition:             all 0.1s ease-out;
}

button:hover,
button:focus {
    background:    -moz-linear-gradient(top, #f16529 50%, #f16529 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #f16529), color-stop(50%, #f16529));
    background: -webkit-linear-gradient(top, #f16529 50%, #f16529 50%);
    background:      -o-linear-gradient(top, #f16529 50%, #f16529 50%);
    background:     -ms-linear-gradient(top, #f16529 50%, #f16529 50%);
    background:         linear-gradient(top, #f16529 50%, #f16529 50%);
    -moz-box-shadow:        0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow:     0 0 5px rgba(0, 0, 0, .5);
    box-shadow:             0 0 5px rgba(0, 0, 0, .5);
}

#quiz_wrapper {
    padding: 0 0 10px 0;
}
